@font-face {
    font-family: 'iranyekanmed';
    src: url(../fonts/iranyekanwebmedium.woff) format('woff');
}

@font-face {
    font-family: 'iranyekanreg';
    src: url(../fonts/iranyekanwebregular.woff) format('woff');
}

@font-face {
    font-family: 'yekanbakhbold';
    src: url(../fonts/YekanBakhBold.woff) format('woff');
}

@font-face {
    font-family: 'yekanbakhheavy';
    src: url(../fonts/YekanBakhHeavy.woff) format('woff');
}

@font-face {
    font-family: 'yekanbakhmed';
    src: url(../fonts/YekanBakhMedium.woff) format('woff');
}